
<% @pizzas.each do |pizza| %>
	
	<div class="stolen-frosty span6 offset3 text-center">
		<h1 class="stolen-h1">
			<%= pizza.name %>
		</h1>
		<h2>
			Lat: <%= pizza.lat %>
		</h2>
		<h2>
			Lon: <%= pizza.lon %>
		</h2>
		
	</div>
	<br />

<% end %>