
<% @pizzas.each do |pizza| %>
	
	<div class="stolen-frosty span6 offset3 text-center">
		<h1 class="stolen-h1">
			<%= pizza.name %>
		</h1>
		<h2>
			Lat: <%= pizza.lat %>
		</h2>
		<h2>
			Lon: <%= pizza.lon %>
		</h2>
		
<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?zoom=13&size=600x300&maptype=roadmap
&markers=color:blue%7Clabel:#{pizza.name}S%7C#{pizza.lat},#{pizza.lon}&sensor=false" %>

	</div>
	<br />

<% end %>